/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/nov/2014, 11:19:39
    Author     : Fernando
*/
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: block;
}

#rightPanel {
    position: fixed;
    right: 0;

    height: 100%;
    width: 20%;
    background-color: darkred;
}

#rightPanel img {
    display:list-item;
    margin-left: 30%;
}

#rightPanel p {
    color: white;
    margin-left: 30%;
}

#keyboard:hover {
    cursor: pointer;  
    
}

#keyboard:active  {
    width: 140px;
    height: 140px;
}

#leftPanel {
    position: fixed;
    left: 0;

    height: 100%;
    width: 20%;
    background-color: darkred;
    padding-left: 10px;
    padding-right: 10px;
}


#leftPanel .upgrade {
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    display: list-item;
    list-style: none;
}

#leftPanel .upgrade p {
    width: 150px;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

#leftPanel .disabled {

    border: 2px solid #555555;
    background-color: #111111;
}

#leftPanel .disabled:hover {
    border: 1px solid black;
}

#leftPanel .disabled p {
    color: gray;
}

#leftPanel .enabled {
    border: 2px solid black;
}

#leftPanel .enabled:hover {
    border: 3px solid red;
}

#leftPanel .enabled p {
    color: white;
}

#CenterPanel {
    position: fixed;

    height: 100%;
    width: 50%;
    left: 25%;
}

#CenterPanel p {
    margin-left: 50%;
}